body {
    padding: 0;
    margin: 0;
}

#root {
    width: 1420px;
    margin: auto;
}

.header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    height: 100px;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin: 0;
}

.contacts {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

.number {
    color: white;
    cursor: pointer;
}

.logoName {
    color: var(--txt-Orange, #BB8C5F);
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    margin: 0;
    padding-top: 10px;

    
}

.logoShop {
    color: var(--txt-Orange, #BB8C5F);
    font-family: Jost;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    letter-spacing: 3.5px;
    margin: 0;
}

.lineLogo {
    width: 230px;

}
.headerImg {
    align-items: center;
    width: 28px;
    height: 28px;
    cursor: pointer;
    display: flex;
    padding-left: 20px;
}

.cart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;

}

.cartSum {
    font-size: 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cartAndQuantity {
    display: flex;
    align-items: center;
}

.quantityProduct {
    margin-bottom: 25px;
    margin-right: 20px;
    display: flex;
    position:relative;
    z-index: 1;
    width: 14px;
    height: 21px;
    display: inline-flex;
    padding: 0px 5px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    background: var(--Orange, #BB8C5F);
}

.main {
    background-color: #e4720e;
    width: 1420px;
   
}

.mainImg{
    width: 1420px;
}

.cards {
    width: 292px;
    height: 567px;
    gap: 50px;
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-top: 50px;
    
}

.cards-post {
    background: var(--bg-card, #F5F5F5);
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.10);
    padding-left: 30px;
}

.card-img {
    padding-top: 15px;
}

.model {
    width: 229px;
    height: 48px;
    color: var(--txt-Dark, #3E424B);
    font-family: Jost;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.price {
    color: var(--txt-Orange, #BB8C5F);
    font-family: Jost;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    padding-bottom: 25px;
}

.cartButton {
    width: 259px;
    height: 50px;
    color: var(--txt-Orange, #BB8C5F);
    text-align: center;
    font-family: Jost;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    border: 2px solid #BB8C5F;
    cursor: pointer;
    border-radius: 6px;
  
}

.favorite {
    display: flex;
    position: absolute;
    margin: 30px;
    cursor: pointer;
  }
  
.favorite.plus {
    fill: #e4720e;
    stroke: #ff7701;
}

.card-counter {
    width: 292px;
    display: flex;
    gap: 60px;
    margin: 10px 0;
    align-items: center;
    padding-top: 28px;
    padding-left: 10px;
}

.handler {
    width: 50.519px;
    height: 50px;
    border: 2px solid #BB8C5F;
    border-radius: 6px;
}
.amount {
    color: var(--txt-Dark, #3E424B);
    text-align: center;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
}


footer {
    height: 75px;
}